---
//import { Svg } from 'astro:components';
import Social from "./Social.astro";
import BCLogo from "../assets/pictures/svg/bc.svg";
import KofiLogo from "../assets/pictures/svg/kofi.svg";
import GithubLogo from "../assets/pictures/svg/github.svg";
import IGLogo from "../assets/pictures/svg/instagram.svg";
import YTLogo from "../assets/pictures/svg/youtube.svg";
//github, instagram, facebook, tumblr nnah lol
// gimme MONEY over at 
//        you'll never stop me bangin out the tunes but you can listen at or listen to me listen at 
//watch me massacre some code over on 
//my directorial debut on 
//see my bodyodyodyody over on
//bandcamp, linktree, spotify, itunes, amazon, deezer, soundcloud, youtube
//const { platform, usernameID, platformName}
// <Social platform="" usernameID="" platformName="" />
---


<footer class="footer">
    <ul class="tags">
        <li class="tag"> 
        <Social platform="https://ko-fi.com" usernameID="linettie" logo={KofiLogo} platformName="Ko-fi"  />
        </li>
        <li class="tag">
	<Social platform="https://keown.bandcamp.com" usernameID="/" platformName="Bandcamp" logo={BCLogo}/>
    </li>
    <li class="tag">
    <Social platform="https://bandcamp.com" usernameID="Keown" platformName="my bandcamp collection" logo={BCLogo} /><!--<BandcampLogo fill="#FD9612"/> -->
        </li>
        <li class="tag"><Social platform="https://github.com" usernameID="/keownkeys-coder" logo={GithubLogo}platformName="github" /></li>
        <li class="tag"><Social platform="https://www.youtube.com" usernameID="@themusicalqn" logo={YTLogo} platformName="YouTube" />
        </li>
        <li class="tag">
         <Social platform="https://www.instagram.com" usernameID="linette_aka_qn" logo={IGLogo} platformName="Instagram" /> 
        </li>
    
    </ul>
 
</footer>