---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<p>First written and published on {frontmatter.pubDate.toString().slice(0,15)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by {frontmatter.author}</p>
<slot />
<p>Tanks for reading!</p>
<ul>
    {frontmatter.tags.map((tag) => <li>{tag}</li>)}
    <li>{frontmatter.author}</li>
</ul>
</BaseLayout>